#about-container {

    min-height: 100vh;
    height: fit-content;
    background-color: black;
}

#about {

    background-color: white;
    width: fit-content;
    height: fit-content;
    display: block;
    margin: auto;
    margin-top: 8vh;
    border-radius: 30px;
    text-align: center;
    padding: 2vh;

}

#about p {

    display: flex;
    justify-content: center;
    font-size: 2vw;
    padding: 1.25vh;
    width: 75vw;
    color: black;
    margin: auto;
    margin-top: 1.5vh;
    background-color: lightgray;
    border-radius: 40px;
    box-shadow: 2px 2px 2px gray;
}

@media screen and (max-width: 768px) {

    #about-container {

        padding-bottom: 5vh !important;

    }

    #about p {

        font-size: 5vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    #about p {

        font-size: xx-large;
    }
}

@media screen and (min-height: 1100px) {

    #about p {

        font-size: xxx-large;
    }

    #about-container {

        padding-bottom: 5vh !important;

    }
}