#root {
    min-height: 100vh;
    height: fit-content;
    background-color: black;
}

#contact {
    background-color: black;
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    padding-top: .5vh;
    padding-bottom: 3vh;
}

#contact h1 {

    display: flex;
    justify-content: center;
    font-size: 3vw;
    padding-top: 3vh;
    margin-bottom: 2vh;
}

#contact form {

    
    width: 60vw;
    display: block;
    margin: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#contact form input {

    margin-bottom: .25vw;
    border-radius: 20px;
    width: 50vw;
    height: 5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.5vw;
}

#contact form label {

    position: relative;
    right: 4vw;
    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 1vh;
    right: 29vw;
}

#contact form textarea {

    width: 50vw;
    height: 20vh;
    border-radius: 20px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    font-size: 1.5vw;
}

#submit-button {

    background-color: magenta;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: 2vh;
    border: none;
    padding-top: 2vh;
    padding-bottom: 5vh;
    line-height: .125em;
}

#submit-button:hover {

    cursor: pointer;
}

#submit-response {

    margin-top: 1vh;
    border: 2px solid magenta;
    padding: 1vh;
    border-radius: 40px;
}

@media screen and (max-width: 992px) {

    #contact h1 {

        font-size: 10vw;
    }

    #contact form {

        margin-top: 8vh;
    }

    #contact form label {

        font-size: 5vw;
    }

    #contact form textarea {

        width: 80vw;
        font-size: 5vw;
    }

    #contact form input {

        width: 80vw;
        font-size: 5vw;
        padding: 0.6em;

    }

    #submit-button {

        font-size: 5vw;
    }
}

@media screen and (min-height: 1100px) {

    #contact form {

        width: 80%;
    }

    #contact form input {

        width: 100%;
    }

    #contact form textarea {

        width: 100%;
    }

    #contact form label {

        font-size: x-large;
        margin-right: 10vw;
    }

    #submit-button {

        font-size: x-large !important;
    }

    #contact .title {
         font-size: 10vw;
    }

    

}
