#logo {

  max-height: 10vw;
  display: block;
  margin: auto;
}

#hero {
    height: 50vh;
    width: 100vw;
    padding-top: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0px;
}

#hero-left img {

    margin-right: 35vw;
    width: 27vw;
}

.hero-text {

    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -3vh;
    left: 53vw;

}

.hero-text h1 {
    font-size: 2.5vw;
    margin-bottom: 7vh;
    line-height: 1.5em;
}

#hello-text {

    margin-left: -24vw;
}

#tool-cycler {

    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
}

#hero-button-holder {

    position: absolute;
    bottom: 25vh;
    right: 11vw;
    display: flex;
    flex-direction: row;
}

.hero-button {

    background-color: magenta;
    border: magenta;
    color: white;
    width: 10vw;
    height: 7vh;
    border-radius: 30px;
    margin-right: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 2vh;
}

.hero-button:hover {

    cursor: pointer;
    font-size: 1.7vw;
}

@media screen and (max-width: 2400px) {
    
    #hero-left img {

        width: 30vw;
    }
}

@media screen and (max-width: 832px) {

    body {
        background-color: blue;
    }

    #logo {

        max-height: 30vw;
        display: block;
        margin: auto;
    }

    #hero {
        
        width: 100vw;
        position: absolute;
        left: 0;

    }
    
    #hero-left img {

        margin: auto;
        width: 70vw;
        margin-top: -5vh;
        
    }

    .hero-text {

        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: auto;
        margin-top: 33vh;
        left: 11vw;
    }

    .hero-text h1 {
        font-size: 8vw;
        margin-bottom: 1vh;
        line-height: 1.5em;
    }

    #hero-button-holder {

        position: absolute;
        bottom: -30vh;
        left: 6vw;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .hero-button {

        background-color: magenta;
        border: magenta;
        color: white;
        width: 27vw;
        height: 7vh;
        border-radius: 30px;
        margin-right: 4vw;
        font-size: 5vw;
        font-weight: bold;
        margin-top: 2vh;
    }


}

