#body {
    
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-color: black;
}



#logo {

  max-height: 10vw;
  width: auto;
  display: block;
  margin: auto;

}

#hero {
    
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#hero-left img {

    width: 35vw;
    display: block;
    margin: auto;
    margin-left: 5.27vw;
    margin-right: 1vw;
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 2px 2px 2px magenta;
}

.dynamic-text {

    background-color: white;
    color: magenta;
    font-size: 2.5vw;
    line-height: 1.5em;
    display: block;
    width: fit-content;
    padding: 1vh;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1vh;
}

#mobile-dynamic {

    display: none;
}

.hero-text h1 {
    font-size: 2.5vw;
    line-height: 1.5em;
    margin-bottom: 3vh;
}

#hello-text {

    margin-left: -21.5vw;
}

#tool-cycler {

    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
}

#hero-button-holder a {

    background-color: magenta;
    border: magenta;
    color: white;
    text-align: center;
    border-radius: 30px;
    margin-right: 2vw;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 2vh;
    padding: 2vh;
    text-decoration: none;
}

.hero-button {

    background-color: magenta;
    border: magenta;
    color: white;
    text-align: center;
    border-radius: 30px;
    margin-right: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 2vh;
}

.hero-button:hover {

    cursor: pointer;
    scale: 1.025;
}

.mobile-logo {
    display: none !important;
}

.dynamic-text {

    margin-bottom: 10vh;
}

@media screen and (min-width: 768px)  and (max-width: 992px) {

    .title {

        font-size: xxx-large;
    }

    #projects .title {

        font-size: xxx-large;
    }
}

@media screen and (max-width: 992px) {

    #logo {

        max-height: 30vw;
        display: block;
        margin: auto;
    }

    .mobile-logo {

        display: block !important;
        
    }

    .desktop-logo {

        display: none !important;
    }


    #hero {
        
        min-height: none;
        height: fit-content !important;

    }
    
    #hero-left img {

        min-width: none !important;
        width: 80vw;
        display: block;
        margin: auto;
    }

    .hero-text {

        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: auto;
        left: 11vw;
    }

    .hero-text h1 {
        font-size: xx-large;
    }

    #hero-button-holder {

        gap: 5vw;
        
    }

    #hero-button-holder a {

        background-color: magenta;
        border: magenta;
        color: white;
        padding: 3vw;
        border-radius: 30px;
        font-weight: bold;
        text-decoration: none;
        font-size: large;
    }


    #body {

        flex-direction: column;
        height: fit-content !important;
        padding-bottom: 5vh !important;
    }

    #hero {

        display: block;
        margin-top: 5vh !important;
    }

    

    #hero-text h1 {

        text-align: center;
    }

    #hello-text {
        margin: 0 !important;
    }

    
    .hero-heading {
        text-align: center;
    }


    #hero-button-holder {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    #second-heading {

        display: inline;
    }

    .dynamic-text {

        display: inline !important;
        font-size: x-large !important;
    }

    #desktop-dynamic {

        display: none !important;
    }


}

@media screen and (min-height: 1181px) {

    .title {

        font-size: 10vw;
    }

    #logo {

        max-height: none !important;
    }

    #hero {

        flex-wrap: wrap;
    }

    #hero-left img {

        width: 60vw;
        margin-right: 10vh;
        margin-top: -10vh;
    }

    .hero-text h1 {
        font-size: xxx-large;
    }
    
    #hello-text {
        
        margin-top: -5vh;
        margin-left: 0vh;
    }

    .dynamic-text {
        font-size: xxx-large;
        display: table;
        margin: 0 auto;
        margin-bottom: 7vh;
        
    }

    #hero-button-holder {

        margin-left: 13vw;
        margin-bottom: 8vh;
    }

}



