#projects {
    background-color: black;
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
}

#projects h1 {

    justify-content: center;
    font-size: 3vw;
}

#project-holder {

    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8vh;
    gap: 4vw;
}

.mobile-project-holder {
    display: none !important;
}

.mobile-paginators {

    display: none !important;
}

#projects-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    margin-left: 4vw;
    height: fit-content;

}

#projects-right {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4vw;
    background-color: white;
    border-radius: 40px;
    height: fit-content;
}

#projects-left:hover {

    scale: 1.025;
}

#projects-right:hover {

    scale: 1.025;
}

#projects-left img {
 
    width: 38vw;
    height: 45vh;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom: 4px solid black;

}

#projects-left a {

    display: flex;
    flex-direction: column;
}

#left-title {


    color: black;
    width: 26vw;
    display: block;
    text-align: center;
    font-size: xx-large !important;
}

#left-label {
    
    text-align: center;
    width: 37vw;
    color: black;
    font-size: 1.2vw;
    background-color: lightgray;
    margin-top: 3vh;
}

#projects-left ul {

    display: flex;
    flex-direction: row;
    gap: 3vw;
    color: black;
    list-style-type: none;
}

#projects-left ul li {

    text-decoration: underline;
    font-size: 1.3vw;
}

#projects-left ul li a {


    color: magenta;
}


#projects-right ul {

    display: flex;
    flex-direction: row;
    gap: 3vw;
    color: black;
    list-style-type: none;
}

#projects-right ul li {


    text-decoration: underline;
    font-size: 1.3vw;
}

#projects-right ul li a {


    color: magenta;
}

#projects-right img {

    width: 38vw;
    height: 45vh;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom: 4px solid black;
}

#right-title {

    color: black;
    width: 38vw;
    text-align: center;
    font-size: xx-large !important;

}

#right-label {
    
    text-align: center;
    width: 37vw;
    color: black;
    font-size: 1.2vw;
    background-color: lightgray;
    margin-top: 3vh;
}

#paginators {

    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: center;
    margin-top: 5vh;
}

.project-paginator {

    padding: 1vh;
    color: white;
    background-color: magenta;
    border: none;
    border-radius: 30px;

}

.project-paginator-back {

    padding: 1vh;
    color: white;
    background-color: magenta;
    border: none;
    border-radius: 30px;

}

.project-paginator:hover {
    scale: 1.25;
}

.project-paginator-back:hover {
    scale: 1.25;
}


@media screen and (max-width: 992px) {

    .desktop-project-holder {

        display: none !important;
    }

    .mobile-project-holder {
        display: none !important;
    }

    .project-paginator:hover {
        scale: none;
    }
    
    .project-paginator-back:hover {
        scale: none;
    }

    .desktop-paginators {

        display: none !important;
    }

    .mobile-paginators {

        display: flex !important;
    }

    .mobile-project-holder {

        display: block !important;
    }

    #projects .title {

        font-size: 10vw;
    }

    #project-holder {

        flex-direction: column;
    }

    #projects-left {
        width: 80vw;
        display: block;
        margin: auto;
        height: fit-content;
        padding-bottom: 1vh;
    }

    #projects-left img {
        width: 100%;
    }

    #projects-right {

        width: 80vw;
        display: block;
        margin: auto;
        height: fit-content;
        padding-bottom: 1vh;
    }

    #projects-right img {
        width: 100%;
    }

    #left-title {
        font-size: large !important;
        background-color: white;
        width: 100%;
    }

    #left-label {

        font-size: medium;
        width: 100%;
    }

    #right-label {

        font-size: medium;
        width: 100%;
    }

    #projects-left ul li {

        text-decoration: underline;
        font-size: medium;
    }

    #projects-right ul li {

        text-decoration: underline;
        font-size: medium;
    }

    #right-title {
        font-size: large !important;
        background-color: white;
        width: 100%;

    }

}

@media screen and (min-height: 1100px) {
    
    .desktop-project-holder {

        display: none !important;
    }

    .mobile-project-holder {
        display: none !important;
    }

    .project-paginator:hover {
        scale: none;
    }
    
    .project-paginator-back:hover {
        scale: none;
    }

    .desktop-paginators {

        display: none !important;
    }

    .mobile-paginators {

        display: flex !important;
    }

    .mobile-project-holder {

        display: block !important;
    }

    #projects .title {

        font-size: 10vw;
    }

    #project-holder {

        flex-direction: column;
    }

    #projects-left {
        width: 80vw;
        display: block;
        margin: auto;
        height: fit-content;
        padding-bottom: 1vh;
    }

    #projects-left img {
        width: 100%;
    }

    #projects-right {

        width: 80vw;
        display: block;
        margin: auto;
        height: fit-content;
        padding-bottom: 1vh;
    }

    #projects-right img {
        width: 100%;
    }

    #left-title {
        font-size: xxx-large !important;
        background-color: white;
        width: 100%;
    }

    #left-label {

        font-size: xx-large;
        width: 100%;
    }

    #right-label {

        font-size: xx-large;
        width: 100%;
    }

    #projects-left ul {

        margin-left: 15vw;
    }

    #projects-right ul {

        margin-left: 15vw;
    }

    #projects-left ul li {

        text-decoration: underline;
        font-size: xx-large;
    }

    #projects-right ul li {

        text-decoration: underline;
        font-size: xx-large;
    }

    #right-title {
        font-size: xxx-large !important;
        background-color: white;
        width: 100%;

    }
}