div h1 {

    display: flex;
    justify-content: center;
    font-size: 3vw;
    padding-top: 3vh;
}

#tool-holder {

    background-color: white;
    width: 80vw;
    height: 60vh;
    position: absolute;
    left: 13vw;
    bottom: 20vh;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.tool-list {

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 7vw;
    margin-left: 7vw;
    left: 10vw;
}

.tool-list h2 {

    color: black;
    font-size: 2vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.tool {

    text-shadow: 2px 2px 4px grey;
}

.tool:hover {

    color:magenta;
}

@media screen and (max-width: 832px) {

    #title {
        font-size: 10vw;
    }

    #tool-holder {

        background-color: white;
        width: 80vw;
        height: 85vh;
        left: 10vw;
        bottom: 5vh;
        border-radius: 30px;
        text-align: center;
    }

    .tool-list {

    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 6vh;
        margin-right: 7vw;
        margin-left: 7vw;
        left: 10vw;
        width: 10vw;
    }

    .tool-list h2 {
        
        font-size: 5vw;
        margin-bottom: 12vh;
    }
}