#toolkit-container {

    min-height: 100vh;
    background-color: black;
    
}

div h1 {

    display: flex;
    justify-content: center;
    font-size: 3vw;
    padding-top: 3vh;
}

#tool-holder {

    background-color: white;
    width: 80vw;
    height: fit-content;
    display: block;
    margin: auto;
    margin-top: 8vh;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
    
}

.tool-list {

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 7vw;
    margin-left: 7vw;
    left: 10vw;
    margin-bottom: 3vh;

}

.tool-list h2 {

    color: black;
    font-size: 2vw;
    margin-top: 7vh;
}

@media screen and (max-width: 768px) {

    #toolkit-container {
        min-height: 100vh;
        height: fit-content;
    }

    .title {
        font-size: 10vw;
    }

    #tool-holder {

        background-color: white;
        width: 80vw;
        height: fit-content;
        bottom: 5vh;
        border-radius: 30px;
        text-align: center;
    }

    .tool-list {

    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 7vw;
        margin-left: 7vw;
        left: 10vw;
        width: 10vw;
        padding-top: 5vh;
        padding-bottom: 2vh;
    }

    .tool-list h2 {
        
        font-size: 5vw;
        margin-bottom: 5vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    #tool-holder {
        width: fit-content;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .tool-list h2 {

        font-size: xx-large;
        margin-bottom: 5vh;
    }
}

@media screen and (min-height: 1100px) {

    #tool-holder {
        width: fit-content;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    
    .tool-list h2 {

        font-size: xxx-large;
    }
}